.parghraph{
    color: blue;
    background-color: burlywood;
}

.myTable{
    width: 100%;
    border: 1px solid black;
    color: blue;
    text-align: center;
}

.myTable tr{
    border: 1px solid black;
}

.myTable td{
    border: 1px solid black;
}